* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(0, 0%, 100%);
  --stroke-color: hsl(240, 7%, 21%);
  --card-color: hsl(240, 9%, 89%);
  --card-color-selected: hsl(194, 97%, 31%);

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  background-color: var(--bg-color);
  color: var(--stroke-color);

  min-width: 90rem;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  display: flex;
  gap: 19.2rem;
}

#timer {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
}


#counter {
  display: flex;
  min-width: 32.1rem;
  font-size: 12.6rem;
  font-family: 'Roboto', sans-serif;
}

#controls {
  display: flex;
  gap: 4rem;
}

#sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.2rem;
}

.card {
  width: 13.8rem;
  height: 15.2rem;
  background-color: var(--card-color);
  border-radius: 2.4rem;
}

button {
  color: var(--stroke-color);
  background-color: transparent;
  border: none;
  font-size: 4.8rem;
  cursor: pointer;
}

.secondary {
  background-color: var(--card-color-selected);
}

.hide {
  display: none;
}

